@import 'styles/variables';


.App {
  overflow: hidden;
  color: $black;
  background: #f3f3f3;
  padding: 1rem;


  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #a6ddf0;
    filter: blur(72px);
  }

  .blur:first-child {
    top: -18%;
    right: 0;
  }

  .blur:last-child {
    top: 36%;
    left: -8rem;
  }
}


