@import 'styles/variables';


.App {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  color: $black;
  background: #f3f3f3;
  height: 100%;

  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #a6ddf0;
    filter: blur(72px);
  }

  .blur:first-child {
    top: -18%;
    right: 0;
  }

  .blur:last-child {
    top: 36%;
    left: -8rem;
  }
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
  background: $buttonBg;
  transition: all 100ms ease-in-out;
}
.button:hover {
  cursor: pointer;
  color: $orange;
  background: transparent;
  border: 2px solid $orange;
}

.button:disabled{
  background: silver;
  pointer-events: none;
}


::-webkit-scrollbar{
  display: none;
}


