@import "src/styles/variables";

.ProfileCard {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  overflow-x: clip;
  background: $cardColor;

  .subtitle {
    font-weight: bold;
    color: orange;
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
    a{
      text-decoration: none;
      color: inherit;
    }
  }


  .ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img:first-child {
      width: 100%;
      height: 10rem;
      object-fit: cover;
    }

    img:last-child {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      position: absolute;
      bottom: -3rem;
      box-shadow: $profileShadow;
      object-fit: cover;
    }
  }

  .ProfileName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 10px;

    span:nth-of-type(1) {
      font-weight: bold;
    }
  }

  .followStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    hr {
      width: 85%;
      border: 1px solid $hrColor;
    }

    .block {
      display: flex;
      gap: 1rem;
      width: 80%;
      justify-content: space-around;
      align-items: center;

      .follow {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        align-items: center;
        justify-content: center;

        span:nth-of-type(1) {
          font-weight: bold;
        }

        span:nth-of-type(2) {
          color: $gray;
          font-size: 13px;
        }
      }

      .vl {
        height: 150%;
        border-left: 2px solid $hrColor;
      }
    }


  }

}